.border-box {
    position:absolute;
    left: 1vw;
    right: 1vw;
    height: 250px;
    padding: 20px;
    /* border: 1px solid rgb(0, 0, 0); */
    background-color: #eeeeee;
  }

  .req {
    color: red;
}
.error-msg{
    color: red;
}
.form-fields-class{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
}

.form-header{
    font-size: larger;
}

input, label, select {
    display:block;
    width: 22vw;
}

select{
    width: 22.7vw;
    padding: 2px;
}

button{
    float: right;
    margin-right: 115px;
}

.fieldsRows{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
}
.fieldRowsGender{
    padding-left: 160px;
    display: left;
    margin-bottom: 1rem;
    justify-content: space-around;
}
#carrierName{
    width: 61vw;
}

.carrierClass{
    position: relative;
    left: 8vw;
    right: 8vw;
    margin-bottom: 1rem;
}

